/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #3B1F21FF;
    background-alt: #282B31FF;
    foreground:     #F0E6E6FF;
    selected:       #A0393DFF;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
